
<div class="row w-50 mx-auto" >
    <% if flash[:loggedIn] %>
        <p class="alert alert-success" role="alert">
            <%= flash[:loggedIn] %>
        </p>
    <% end %>
    <p class="w-100 text-center">
        Welcome to your dashboard
        <% if session[:isAdmin] == true %>
           <span style="color:green; font-weight: bold"> <%= session[:username] %> </span>
        <% else %>
            <span style="color:purple; font-weight: bold"> <%= session[:username] %> </span>
        <% end %>

    </p>
</div>

<div class="row w-75 mx-auto">
    <h4>Projects</h4>
    <% if @project.size > 0 %>

        <table class="table" >
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
            <% @project.each do |project| %>
                <tr>
                    <td> <%= project.title %> </td>
                    <td> <%= project.created_by %> </td>
                    <td> <%= project.updated_at %> </td>
                    <td>
                         <button type="button" class="btn btn-info"><a href='/read/<%= project.id %>' class="text-decoration-none" style ="color:white;">Read</a></button>
                         <button type="button" class="btn btn-primary"> <a href='/edit/<%= project.id%>' class="text-decoration-none" style ="color:white;">Edit</a></button>
                         <button type="button" class="btn btn-danger"><a href='/delete/<%= project.id%>' class="text-decoration-none" style ="color:white;">Delete</a></button>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <div>
            <h6> No Project Available</h6>
        </div>
    <% end %>

</div>
<div class="row w-75 mx-auto">
    <% if @users %>
        <hr>
        <h4>Users</h4>
        <table class="table" >
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Update Role</th>
                <th>Delete User</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td> <%= user.id %> </td>
                    <td> <%= user.First_name %> </td>
                    <td> <%= user.Last_name %> </td>
                    <td> User <% if user.isAdmin == true %> & Admin <% end %> </td>
                    <td>
                        <% if user.isAdmin == true %>
                            <button type="button" class="btn btn-danger"> <a href='/updateRole/<%= user.id%>' class="text-decoration-none" style ="color:white;"> Remove Admin </a></button>

                         <% else %>
                            <button type="button" class="btn btn-primary"> <a href='/updateRole/<%= user.id%>' class="text-decoration-none" style ="color:white;"> Make Admin </a></button>
                        <% end %>

                    </td>
                    <td>
                        <button type="button" class="btn btn-danger"><a href='/deleteUser/<%= user.id%>' class="text-decoration-none" style ="color:white;">Delete</a></button>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</div>